@CHARSET "ISO-8859-1";
body {
	font-family: Segoe UI,Arial,Verdana,Tahoma,sans-serif;
	font-size: 9mm;
	padding-left:0.8ex;
}

a {
	font-size: 6mm;
	height:10ex;
	width:10ex;
	float:left;
	margin:0.8ex 0.8ex 0 0;
	padding:0.2ex;
	background-color: #2E8B57;
	color: #fff;
	text-decoration: none;
}

#myDisplay {
	font-stretch: condensed;
	font-weight: lighter;
	max-width: 15ex;
	word-wrap: break-word;
}

#time {
	font-size: 27mm;
}

#time_sec {
	font-size: 37mm;
}

input, select {
	font-size: 8mm;
	margin:0.4ex;
}
